@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* scroll */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #311b92;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* navbar */
.navbar{
    
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 15px 0;
    background: #311b92;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a
{
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}

.navbar .logo a span
{
    color: #311b92;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span
{
    color: #ffffff;
}

.navbar .menu li 
{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a
{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover
{
    color: #311b92;
}

.navbar.sticky .menu li a:hover
{
    color: #000000;
}

.navbar.sticky .logo a span
{
    color: #000000;
}

.menu-btn
{
    color: #ffffff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* main styling */
section{
    padding: 100px 0;
}

.about .about-content, 
.projects .proj-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about, .projects, .skills, .socials, .contact, footer{
    font-family: 'Poppins', sans-serif;       
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: #000000;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

section .title::after{    
    position: absolute;
    background: #ffffff;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #311b92;
    padding: 5px;
    transform: translateX(-50%);
}



/* home section styling */
.home
{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width
{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1
{
    font-size: 27px;
}

.home .home-content .text-2
{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3
{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span
{
    color: #311b92;
    font-weight: 500;
}

.home .home-content a 
{
    display: inline-block;
    background: #311b92;
    color: #ffffff;
    font-size: 25px;
    padding: 12px 36px;
    border-radius: 6px;
    border: 2px solid #311b92;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.home .home-content a:hover
{
    color: #311b92;
    background: none;
}

/* about */

.about .title::after{
    content: "who i am";
}

.about .about-content, .proj-content .projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size:  25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #311b92;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #311b92;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid #311b92;
    transition: all 0.3s ease;
    margin-top: 15px;
    font-weight: 500;
}

.about .about-content .right a:hover{
    background: none;
    color: #311b92;
}

/* projects */
.projects, .socials{
    background: url("images/banner.jpg") no-repeat center;
    color: #ffffff;
}

.projects .title::before,
 .socials .title::before{
    background: #ffffff;
}

.projects .title::after,
 .socials .title::after{
    background: #000000;
    content: "what i did";
}

.projects .proj-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    margin: 10px;
    transition: all 1s ease;
}

.projects .proj-content .card a{
    color: #ffffff;
}

.projects .proj-content .card:hover{

    background: #311b92;
}

/* skills */

.skills .title::after{
    content: "what i can";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background: #311b92;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid #311b92;
    transition: all 0.3s ease;
    margin-top: 15px;
    font-weight: 500;
}

.skills .skills-content .left a:hover{
    background: none;
    color: #311b92;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #311b92;
}

.skills-content .right .C::before{
    width: 65%;
}
.skills-content .right .Java::before{
    width: 55%;
}
.skills-content .right .Sql::before{
    width: 70%;
}
.skills-content .right .Html::before{
    width: 60%;
}
.skills-content .right .Git::before{
    width: 70%;
}

/* socials */
.socials .title::after{
    content: "find me here";
}

.socials .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    transition: all 0.3s ease;
}

.socials .carousel .card:hover{
    background: #311b92;
}

.socials .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}

.socials .carousel .card:hover .box{
    transform: scale(1.05);
}

.socials .carousel .card .text{   
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.socials .carousel a{
    color: #ffffff;
    text-decoration: none;
}

.socials .carousel .card .box p{
    padding-top: 20px;
}

.socials .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 30%;
    border: 5px solid #311b92;
    transition: all 0.3s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 18px;
    width: 18px;
    outline: none!important;
    border-radius: 50%;
    border: 3px solid  #311b92!important;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
    transition: all 0.3s ease;
    background: #311b92!important;
    border: 3px solid  #ffffff!important;
}

.owl-dot:hover{
    background: #311b92!important;
    border: 3px solid  #ffffff!important;
}

/* contact */

.contact .title::after{
    content: "email me";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Popins', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #311b92;
    background: #311b92;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    color: #311b92;
    background: none;
}

.fa-user, .fa-map-marker-alt{
    font-size: 25px;
    color: #311b92!important;
    margin-right: 8px;
}

.fa-envelope{
    font-size: 25px;
    color: #311b92!important;
    margin-right: 2px;
}

/* footer */

footer{
    background: url("images/banner.jpg") no-repeat center;
    padding: 20px 23px;
    color: #311b92;
    text-align: center;
    text-decoration: none;
}

footer span {
    color: #ffffff;    
}

footer:hover {
    text-decoration: underline;  
}

/* responive media  */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px)
{
    .max-width{
        padding: 0 50px;   
    }

    .menu-btn
    {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before
    {
        content: '\f00d';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: normal;
    }

    .navbar .menu{
        position: fixed;
        background: #000000;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active
    {
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .about .about-content .column{
        width: 50%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }

    .projects .proj-content .card,
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        padding-top: 50px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}